---
import Layout from '../layouts/Layout.astro'
import Articulos from '../components/Articulos.astro'
import Javascript from '../components/img/Javascript.astro'
---

<Layout title="Página principal de las APIs en JavaScript">
  <main>
    <section>
      <div class="title">
        <h2>Páginas de visualización de APIs en JavaScript</h2>
        <Javascript class="Icon" />
      </div>
      <div class="content">
        <p>
          Esta página está dedicada a mostrar varios proyectos que utilizan APIs
          en JavaScript para interactuar con datos en tiempo real. A través de
          una serie de ejemplos prácticos y demostraciones, los usuarios pueden
          explorar cómo las APIs acceden a datos externos.
        </p>
      </div>
    </section>
    <Articulos />
  </main>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
  }
  .title {
    display: flex;
    align-items: center;
    gap: 30px;
    text-transform: uppercase;
  }
  p {
    font-size: 15px;
    margin: 30px 0;
    max-width: 600px;
    text-align: center;
  }
  .Icon {
    width: 100px;
  }

  .Icon2 {
    width: 500px;
    height: auto;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
</style>
